html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

main {
    padding: 2rem;
}

footer {
    padding: 1rem;
    text-align: left;
    color: white;
    background-color: #000000;
}

#dossier-cards {
    width: min(80rem, 90%);
    margin: 2rem auto;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.card {
    border: 1px solid #cccccc;
    border-radius: 6px;

    background-color: #dddddd;

    padding: .5rem;

    display: flex;
    flex-direction: column;

    gap: .75rem;
}

h1.center {
    text-align: center;
    font-size: 3rem;
}

h2.center {
    text-align: center;
    font-size: 2.5rem;
}

p.center {
    text-align: center;
    font-size: 1.5rem;
}