/* =========================
   PAGE RESET
   ========================= */

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
}

* {
    box-sizing: border-box;
}


/* =========================
   PAGE
   ========================= */

body {
    min-height: 100vh;
}


/* =========================
   MAIN CONTENT
   ========================= */

main {
    padding: 2rem;
}


/* =========================
   FOOTER
   ========================= */

footer {
    padding: 1rem;
    text-align: center;
}