body {
    margin: 0;
}

#main-nav {
    background-color: cadetblue;
    width: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

#main-nav > a { /*children selector*/
    color:black;
    background-color: rgb(255, 96, 87);
    display: inline-block ;
    padding: 1em;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all ease-in-out 250ms;
    border-radius: 0.5rem;
}

#main-nav > a:hover {
    background-color: rgb(255, 148, 143);
}